@model NETD3202_F2022_InstrumentShop.Models.Repair
<!-- The Title of the page-->
<h4>Search Repairs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowSearchRepair">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- Takes in the owner of the instrument being repaired-->
            <div class="form-group">
                <label name="SearchRepair" class="control-label">Search Owner</label>
                <input name="SearchRepair" class="form-control" />
                <span asp-validation-for="owner" class="text-danger"></span>
            </div>
            <!-- Submits the search-->
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<!-- Takes the user back to the index list-->
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
