@{
    ViewData["Title"] = "Home Page";
}
<!-- The Title of the page-->
<div class="text-center">
    <!-- The Title and Logo for the Front Page-->
    <img class="img-front" src="~/css/Logo.png" alt="image is not available">
    <h1 class="display-4">Welcome to the Instrument Shop</h1>
    <!-- The main body describing a bit of code with me-->
    <p>
        For an instrument shop website, I picked to make one that is used by the staff to assist customers
        with finding instrument information, contacting the manufacturer incase of any questions, and logging the repairs made for pickup.
        </a>.
    </p>
</div>
