@{
    ViewData["Title"] = "Privacy Policy";
}
<!-- The Title of the page-->
<h1>@ViewData["Title"]</h1>
<!-- Message to the user about the privacy of their information through the web application created-->
<p>
    Thank you for considering using our web application to log in to our instrument shop. We take your privacy seriously, and we have developed this privacy policy to outline how we collect, use, and protect your personal information.

    When you use our web application, we may collect certain personal information from you, such as your name, email address, and password. We will only collect this information if you voluntarily provide it to us, and we will only use it for the purposes of providing you with access to our instrument shop and for improving your user experience.

    We will take appropriate measures to protect the personal information that you provide to us. This includes storing your information in secure databases and using encryption to protect your data when it is transmitted over the internet.

    We will not share your personal information with any third parties unless we are required to do so by law, or unless you give us your explicit consent to do so.

    We may collect certain non-personal information from you as well, such as your IP address, device type, and browser type. We use this information to help us improve our web application and to understand how users are accessing our site.

    We reserve the right to update this privacy policy at any time, and we will notify you of any significant changes by posting an updated policy on our website.

    If you have any questions about our privacy policy, please don't hesitate to contact us. We are committed to protecting your privacy and to providing you with a safe and secure user experience.
</p>
