@model NETD3202_F2022_InstrumentShop.Models.Instrument
 <!-- The Title of the page-->
<h4>Search Instruments Inventory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowSearchInstruments">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- Takes in the name of the instrument-->
            <div class="form-group">
                <label name="SearchInstrument" class="control-label">Instrument Name</label>
                <input name="SearchInstrument" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <!-- Submits the search-->
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<!-- Takes the user back to the index list-->
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
